body{
    color: rgb(255, 255, 255);
    background-color: rgba(95, 164, 255, 0.705);
}
ul{display: flex;
justify-content: space-between;
list-style-type:none;
padding: 25px;}
img{
    width: 200px;
    height: 200px;
    border-radius: -5px;
    }